  @use 'vars' as *;

  .modal {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-gray;
    background-clip: content-box;
    border: 10px solid transparent;
    border-image: url('../img/border.png') 30% round;

    display: flex;
    flex-direction: column;

    .modalCloseBtn{
        position: absolute;
        right: 4px;
        top: 4px;
        width:16px;
        height:16px;
        background-image: url('../img/x.png');
        transition: ease-in-out;

        filter: invert(1);

        &:hover{
            filter: brightness(1.5);
            cursor: pointer;
        }
    }

    .modalTitle{
        font-size: 2em;
    }

    .modalBody{
        margin-top: 1em;
        height: 100%;

        .boolBtn{
            cursor: pointer;
            user-select: none;
            display: block;
            padding: 5px;
            border-radius: .5em;
            border: 2px solid $color-darkgreen;
            background-color: $color-dark;
            float: left;
            clear: both;
            margin-bottom: 5px;

            &.disabled{
                color: $color-darkgray;
                border: 2px solid $color-black;
            }

            color: $color-green;
        }
    }
  }
