$font-fredoka: 'Fredoka One', cursive;
$font-rubik: 'Rubik', sans-serif;

///colors

$color-black: #302c2e;
$color-dark: #5a5353;
$color-darkgray: #7d7071;
$color-gray: #a0938e;

$color-lightgreen: #b6d53c;
$color-green: #71aa34;
$color-darkgreen: #397b44;